body{
	margin: 0;
	padding: 0;
}
div{
	width: 200px;
	height: 200px;
	/*position: absolute;*/

}
.cuadrado1{
	background: #ee3e64;
	/*left: 0;
	top: 0;*/
}
.cuadrado2{
	position: absolute;
	background: #44accf;
	left: 200px;
	/*right: 0;
	top: 0;*/

}
.cuadrado3{
	background: green;
	/*left: 0;
	bottom: 0;*/
}
.cuadrado4{
	background: yellow;
	/*right: 0;
	bottom: 0;*/
	
}